# Google Sheets Configuration
GOOGLE_SHEET_ID=tu_id_de_google_sheet_aqui
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta-de-servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTu clave privada aqui\n-----END PRIVATE KEY-----\n"

# Email Configuration (para notificaciones de pedidos)
EMAIL_USER=tu-email@gmail.com
EMAIL_PASSWORD=tu-contraseña-de-aplicacion-de-gmail
ADMIN_EMAIL=admin@yeahtecnologias.com

# Admin Panel
ADMIN_PASSWORD=tu-contraseña-de-admin-segura
